html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.home {
    height: 73%;
    border-bottom: 7px solid grey;
    position: relative;
}

.background-image {
    filter: brightness(30%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.netflix-logo {
    margin-left: 42px;
    margin-top: 2px;
    height: 45px;
    width: 142px;
}

.navbar {
    height: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    margin-right: 45px;
    margin-top: 2px;
}

.language-dropwown {
    height: 35px;
    width: 99px;
    color: white;
    background-color: black;
    border-radius: 3px;
    margin-right: 26px;
    text-align: center;
    
}

.about-netflix {
    height: 35px;
    width: 85px;
    color: white;
    background-color: red;
    border-radius: 3px;
    cursor: pointer;
    
    font-size: 16px;
    border: 1px;
    font-family: sans-serif;
}

.center-text-email-button {
    margin-top: 150px;
    flex-grow: 1;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.unlimited-movies {
    font-size: 50px;
    margin: 0px;
    font-family: sans-serif;
}

.watch-anywhere {
    margin: 0px;
    font-family: sans-serif;
}

#email-box-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ready-to-watch {
    font-size: 20px;
    font-family: sans-serif;
}

#email-box {
    height: 50px;
    width: 450px;
}

#get-started {
    background-color: red;
    color: white;
    width: 200px;
    font-size: 25px;
    border: 0px;
    cursor: pointer;
}
.enjoy-on-your-tv{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 7px solid grey;
    align-items: center;
    
    
    

}
.text-1{
    display: flex;
    color: white;
    text-align: left;
    margin-top: 60px;
    font-family: sans-serif;
    flex-direction: column;

}
.enjoy-on-tv-h1{
font-size: 52px;
margin: 0px;
font-family: sans-serif;
margin-bottom: 7px;
}
.watch-on-smart-h2{
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    
}
.tv-picture-1{
    height: 370px;
    width: 520px;
    margin-left: 5px;
}

.download-your-shows{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 7px solid grey;
    font-family: sans-serif;
}
.download-your-shows-text{
    display: flex;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-left: 50px;
    
    flex-direction: column;
}
.download-your-shows-h1{
    font-size: 52px;
    margin: 0px;
}
.mobile-pic{
    height: 330px;
    width: 500px; 
    margin-right: 50px;
}
.watch-everywhere{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 7px solid grey;
    font-family: sans-serif;
}
.watch-everywhere-text{
    display: flex;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-right: 50px;
    flex-direction: column
}
.watch-everywhere-text-h1{
    font-size: 55px;
    margin: 0px;
}
.devices{
    height: 350px;
    width: 530px; 
    margin-left: 50px;
}
.create-profiles-kids{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 7px solid grey;
    font-family: sans-serif;
}
.kids-image{
    height: 350px;
    width: 530px; 
    margin-right: 50px;
}
.create-profiles-kids-text{
    display: flex;
    color: white;
    text-align: left;
    margin-top: 60px;
    margin-right: 50px;
    flex-direction: column 
}
.create-profiles-kids-text-h1{
    font-size: 50px;
    margin: 0px;
}
.what-is-netflix-buttons{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    border-bottom: 7px solid grey;
    align-items: center;
    font-family: sans-serif;
    
    
    
}
.what-is-netflix-h1{
    color: white;
    text-align: center;
    font-size: 60px;
}
#about-netflix{
    background-color: rgb(56, 55, 55);
    height: 85px;
    width: 810px;
    margin-bottom: 7px;
    color: white;
    font-size: 25px;
    text-align: left;
    padding-left: 30px;
    cursor: pointer;
}
.under-button-paragraph{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
    
}
.footer{
    background-color: black;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 170px;
    row-gap: 10px;
    font-family: sans-serif;
    
    
    
}
.questions-div{
    color: grey;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}
.footer-grid-elements{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows:repeat(4,25px);
    grid-column-gap: 60px;
    grid-row-gap: 10px;
    cursor: pointer;
    
    
}
#grid-element{
    background-color: black;
    color: gray;
    font-size: 13px;
    
    
}
.footer-language-dropdown{
    height: 55px;
    width: 139px;
    color: white;
    background-color: black;
    border-radius: 3px;
    margin-top: 20px;
    text-align: center;
}   
.last-paragraph{
background-color: black;
color: gray;
font-size: 12px;
}



